set shiftwidth=4
set tabstop=4
set ignorecase
set smartcase
set nowrap
set listchars=tab:▶\ ,trail:·
set mouse=a
set scrolloff=8
set sliderscrolloff=8
set nojoinspaces
set splitright
set confirm
set updatetime=300
set redrawtime=10000
inoremap kj <Esc>
set mapleader =" "
nmap <space> <Leader>

nmap g] :action GotoImplementation<CR>
nmap tf :action SelectInProjectView<CR>
nnoremap <leader>gb :action Git.Branches<CR>
nnoremap <leader>fn :action ShowNavBar<CR>
nnoremap <leader>ga :action Annotate<CR>

map <leader>wv :vsplit<CR>
map <leader>ws :split<CR>
map <leader>wd <C-W>c
map <leader>wx <C-W>c
map <leader>ww <C-W>w
map <leader>wl <C-W>l
map <leader>wh <C-W>h
map <leader>wk <C-W>k
map <leader>wj <C-W>j
map <leader>wo <C-W>o